{
    "env": {
        "browser": true,
        "node"   : true,
        "mocha"  : true
    },
    "rules": {
        "quotes"         : [1, "single", "avoid-escape"],
        "no-multi-spaces": 0,
        "key-spacing"    : 0,
        "no-shadow"      : 0
    }
}
